/* Created on 19/11/2019 by EssExx */

.history_panel {
    top: 0;
    left: 0;
    min-width: 280px;
    max-height: calc(100vh - 45px);
    position: fixed;
    padding-top: 5px;
    padding-bottom: 6px;
    z-index: 2147483647;
    display: block;
    font-size: 13px;
    cursor: pointer;
    background-color: #1E1E1E;
    border-radius: 0 0 8px 8px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.history_entry {
    height: 26px;
    /*padding: 5px;*/
    display: flex;
    align-items: center;
    opacity: 1;
}

.history_icon {
    width: 16px;
    height: 16px;
    margin: 5px 8px 5px 16px;
    background-color: #1E1E1E;
}

.history_text {
    color: #CCCCCC;
    max-width: 500px;
    margin-right: 16px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.history_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto;
}

.history_trash_icon {
    float: right;
    position: relative;
    margin-right: 16px;
    margin-bottom: 4px;
    width: 16px;
    height: 16px;
}

.history_entry:hover {
    text-decoration: none;
    background-color: #4B4B4B;
}

.history_link:hover {
    text-decoration: none;
}

.trash_icon_svg {
    width: 130%;
    height: 130%;
    fill: #1E1E1E;
}

.trash_icon_svg:hover {
    fill: rgb(200, 0, 0);
}
